# Ignore python setup files
src/*.egg-info
*.egg-info
build
work
run

# Ignore compiled object
**.so
**.o

# Ignore editor files
.vscode/
*.swp
*.swo

# Ignore jupyter notebook checkpoints and python cache
.ipynb_checkpoints/
**/__pycache__/

# Ignore SPICE tables (TODO: ask autorization)
pyc2ray/tables/SPICE_scatter_SFR/*txt

# Ignore docs test results folder
**/test_results/

# Ignore log files
**/pyC2Ray.log
